h1 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;

}

.close {
  font-size: 15px;
  font-family: "Arial";
  color: rgb(198, 198, 198);
  line-height: 1.6;
  text-align: left;
  z-index: 7;
}

.close_surround {
  margin-bottom:20px;
}

.Learn_More {
  font-size: 14px;
  font-family: "Oxygen";
  color: rgb(248, 246, 95);
  line-height: 1.714;
  text-align: left;
  z-index: 5;
}

.bkgrnd_shape {
  background-image: -moz-linear-gradient( 90deg, rgb(53,93,160) 0%, rgb(37,67,117) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(53,93,160) 0%, rgb(37,67,117) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(53,93,160) 0%, rgb(37,67,117) 100%);
  position: relative;
}

 @media only screen and (max-width : 768px) {
 .bkgrnd_shape {
  width: 282px;
  height: 466px;
  z-index: 3;
  float:right;
 	}
 	}
 @media only screen and (min-width : 768px) {
 .bkgrnd_shape {
  width: 282px;
  height: 466px;
  z-index: 3;	
  float:right;
 	}
 	 }
 @media only screen and (min-width : 992px) {
 .bkgrnd_shape {
  width: 507px;
  height: 296px;
  z-index: 17;
  float:left;
 	}
 	  }

.image_shape {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

 @media only screen and (max-width : 768px) {
 .image_shape {
  width: 246px;
  height: 160px;
  z-index: 10;
  }
  }
 @media only screen and (min-width : 768px) {
 .image_shape {
  width: 246px;
  height: 160px;
  z-index: 10;
  }
   }
 @media only screen and (min-width : 992px) {
 .image_shape {
  width: 201px;
  height: 182px;
  z-index: 25;
  }
}

.surrounding_image_shape {
  width: 201px;
  height: 182px;
}

.L5100_Iphone_Temperature {
  background-image: url("../images/L5100_Iphone_Temperature.jpg");
  width: 282px;
  height: 303px;
  z-index: 26;
  background-size: 100%;
  position: relative;
  bottom: 17%;
}

 @media only screen and (max-width : 768px) {
  .L5100_Iphone_Temperature {
    left: -10%;
  }
}
 @media only screen and (min-width : 768px) {
  .L5100_Iphone_Temperature {
    left: -10%;
  }
}
 @media only screen and (min-width : 992px) {
  .L5100_Iphone_Temperature {
    left: -20%;
  }
}

.shape {
  background-color: rgb(53, 93, 160);
  position: absolute;
  width: 92px;
  height: 93px;
  z-index: 28;
  position: absolute;
  left: -20px;
  bottom: 47px;
}

.Home_Auto_Icon {
  width: 35px;
  height: 35px;
  bottom: 32px;
  position: absolute;
  left: 27px;
}

.title {
  font-size: 26px;
  font-family: "Oxygen" sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.154;
  text-align: left;
  -moz-transform: matrix( 0.99983206905321,0,0,1,0,0);
  -webkit-transform: matrix( 0.99983206905321,0,0,1,0,0);
  -ms-transform: matrix( 0.99983206905321,0,0,1,0,0);
  z-index: 3;
}

.content {
  font-size: 15px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.667;
  text-align: left;
  width: 227px;
  height: 89px;
  z-index: 8;
}

.sub_title {
  font-size: 16px;
  font-family: "Oxygen" sans-serif;
  color: rgb(202, 222, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.563;
  text-align: left;
  -moz-transform: matrix( 0.99983206905321,0,0,1,0,0);
  -webkit-transform: matrix( 0.99983206905321,0,0,1,0,0);
  -ms-transform: matrix( 0.99983206905321,0,0,1,0,0);
  z-index: 23;
}

.alert {
    padding: 0px !important;
    margin-bottom: 0px !important;
    border: 0px !important;
    border-radius: 0px !important;
}